* {
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

.body-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 40px;
    background: no-repeat center url(bg.jpg);
    background-size: cover;
}

.eldritchs-div {
    width: 30%;
    height: 100%;
    border: 1px solid red;
}

.level-div {
    width: 15%;
    height: 100%;
    border: 1px solid red;
}

.action-div {
    width: 30%;
    height: 100%;
    border: 1px solid red;
}
